.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, transform 0.2s;
  background-color: #fafafae8;
}

.listItem:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 10px 0;
  line-height: 1.3;
  color: #1f2937;
}

.content {
  font-size: 1rem;
  color: #444;
  margin: 0 0 16px 0;
  line-height: 1.5;
  flex-grow: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
}

.viewDetails {
  color: #005fec;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.viewDetails:hover {
  color: #000000;
}

.badge {
  background-color: #6dc6fa21;
  border-radius: 12px;
  width: fit-content;
  padding: 4px 8px;
  font-size: 0.75rem;
  color: rgb(46, 52, 61);
  margin-bottom: 8px;
}

.deleteBtn {
  padding: 8px 16px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.deleteBtn:hover:not(:disabled) {
  background-color: #c62828;
}

.deleteBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
